<div class="container">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Chi tiết sản phẩm</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="./">Nhà</a></li>
      <li class="breadcrumb-item active" aria-current="page">Chi tiết sản phẩm</li>
    </ol>
  </div>

  <div class="main-body">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img [(ngModel)]="currentProduct"
              src ="{{currentProduct.img}}"alt="Chọn ảnh" class="rounded" width="300">
              <div class="mt-3">
                <div class="row">
                  <div class="col-sm-12">
                    <button type="button" class="btn btn-success mb-1" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"
                    >Chọn</button>
                  </div>





                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                      <div class="row mb-3">
                        <div class="col-sm-4">
                          <h6 class="mb-0">Link ảnh</h6>
                        </div>
                        <div class="col-sm-8 text-secondary">
                          <input type="text" class="form-control" placeholder="Nhập link ảnh" 
                          id="img"
                          required
                          [(ngModel)]="currentProduct.img"
                          name="img"     >
                        </div>
                      </div>
                    </div>
                  </div>







                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card" *ngIf="currentProduct._id">
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Tên sản phẩm</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" placeholder="Nhập tên sản phẩm"  type="text"
                class="form-control"
                id="name"
                [(ngModel)]="currentProduct.name"
                name="name">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Thương hiệu </h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <select class="form-control" aria-label="Default select example"  type="text"
                class="form-control"
                id="brand"
                [(ngModel)]="currentProduct.brand"
                name="brand">
                  <option selected >Chọn thương hiệu</option>
                  <option >Dior</option>
                  <option >Chanel</option>
                  <option>Gucci</option> 
                  <option> YSl</option>
                </select>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Xuất sứ</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <select class="form-control" aria-label="Default select example"
                 id="made_in"
                [(ngModel)]="currentProduct.made_in"
                name="made_in">
                  <option selected>Chọn xuất sứ</option>
                  <option >Pháp</option>
                  <option >Ý</option>
                  <option >Anh</option>
                </select>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Màu sắc</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <select class="form-control" aria-label="Default select example" 
                id="color"
                [(ngModel)]="currentProduct.color"
                name="color">
                  <option selected>Chọn màu sắc</option>
                  <option>Cam</option>
                  <option>Hồng nhạt</option>
                  <option>Hồng đỏ đất</option>
                  <option>Cam</option>
                  <option>Hồng</option>
                  <option>Đỏ đất</option>
                  <option>Đỏ</option>
                </select>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Giá sản phẩm</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" placeholder="Nhập giá sản phẩm"  
                id="price"
                [(ngModel)]="currentProduct.price"
                name="price">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Giá sản phẩm giảm giá</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" placeholder="Nhập sản phẩm giảm giá"
                id="old_price"
                [(ngModel)]="currentProduct.old_price"
                name="old_price">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3"></div>
              <div class="col-sm-3 text-secondary">
                <button type="submit" class="btn btn-success mb-1" (click)="updateProduct()">
                  Cập nhật
                </button>
              </div>
              <div class="col-sm-6 text-secondary">
              <button type="submit" class="btn btn-danger mb-1" (click)="deleteProduct()">
                Xoá
              </button>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>